<!DOCTYPE html>
<html>

<head>
  <title>Karma Hacks!</title>
  <link rel="stylesheet" href="/css/bootstrap.css"/>
  <link rel="stylesheet" href="/css/style.css"/>
</head>

<body>
<div class="container">
  <div class="header clearfix">
    <nav>
      {{#if user}}
        <ul class="nav nav-pills pull-right">
          <li role="presentation">
            <a href="/">Dashboard</a>
          </li>
          <li role="presentation">
            <a href="/users/profile">My Profile</a>
          </li>
          <li role="presentation">
            <a href="/users/logout">Logout</a>
          </li>
        </ul>
      {{else}}
        <ul class="nav nav-pills pull-right">
          <li role="presentation">
            <a href="/users/login">Login</a>
          </li>
          <li role="presentation">
            <a href="/users/register">Register</a>
          </li>
        </ul>
      {{/if}}
    </nav>
    <h1 class="text-muted">Karma Hacks</h1>
  </div>

  <div class="row">
    {{#if success_msg}}
      <div class="alert alert-success">{{success_msg}}</div>
    {{/if}} {{#if error_msg}}
    <div class="alert alert-danger">{{error_msg}}</div>
  {{/if}} {{#if error}}
    <div class="alert alert-danger">{{error}}</div>
  {{/if}} {{{body}}}

  </div>

  <footer class="footer">
    <p>&copy; 2018 Karma Hacks, Inc.</p>
  </footer>

</div>
<!-- /container -->
{{!-- <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
      crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
      crossorigin="anonymous"></script> --}}

<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
        integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
        crossorigin="anonymous"></script>

</body>

</html>